<div class="column is-one-third">
  <% if book.image.present? %>
    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag url_for(book.image) %>
      </figure>
    </div>
  <% end %>
  <div class="card book">
    <div class="card-content">
      <p class="title">
        <%= link_to book.title, book %>
      </p>
      <p><strong>Format:</strong> <%= book.book_format.name %></p>
      <p><strong>Release Year:</strong> <%= book.year %></p>
      <p><strong>Price:</strong> <%= book.price.to_s %></p>
      <p>
        <strong>Genre(s):</strong>
        <% book.genres.each do |genre| %>
            <%= link_to genre.name, genre %>
        <% end %>
      </p>
    </div>
  </div>
</div>