<div class="book">
  <h3><%= link_to book.title, book %></h3>
  <p><strong>Format:</strong> <%= book.book_format.name %></p>
  <p><strong>Release Year:</strong> <%= book.year %></p>
  <p><strong>Price:</strong> <%= book.price.to_s %></p>
  <p>
    <strong>Genre(s):</strong>
    <% book.genres.each do |genre| %>
        <%= link_to genre.name, genre %>
    <% end %>
  </p>
</div>