<!DOCTYPE html>
<html>
  <head>
    <title>PickABook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <h1 class="title"><%= link_to "Pick-a-Book", root_path %></h1>
        <%= render 'layouts/main_menu' %>
        <%= render 'layouts/sign_in' %>
          <%= form_tag books_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search] %>
              <%= select_tag :format, options_from_collection_for_select(BookFormat.all, "id", "name"), include_blank: "All" %>
              <%= submit_tag "Search", :name => nil %>
            </p>
          <% end %>
        <%= render 'layouts/new_sale' %>
    </section>
    <section class="section">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </section>
  </body>
</html>
